@charset "utf-8";
:root {
	--black-1-color:#101527;
	--black-2-color:#4C4F58;
	--black-2-1-color:#55585c;
	--black-3-color:#797C89;
	--black-4-color:#A2A5AE;
	--black-5-color:#D9DBDF;
	--black-6-color:#EFF0F4;
	--black-7-color:#F7F8FB;
	--blue-color:#0039FF;
	--green-1-color:#C0EB00;
	--font-0-size:60px;
	--font-1-size:45px;
	--font-1-1-size:40px;
	--font-2-size:34px;
	--font-2-1-size:28px;
	--font-3-size:24px;
	--font-4-size:20px;
	--font-4-1-size:18px;
	--font-5-size:16px;
	--font-6-size:14px;
	--font-7-size:12px;
	--font-8-size:10px;
}
::selection{color:var(--black-1-color);background-color:var(--green-1-color)}

body::-webkit-scrollbar{width:10px}
body::-webkit-scrollbar-thumb{height:30%;margin:1rem;background:var(--black-5-color)}
body::-webkit-scrollbar-track{background-color:transparent}

input[type=date].basic_input{-webkit-border-radius:3px;-webkit-background:#fff}
/* common class */
.blind{display:inline-block;overflow:hidden;position:relative;z-index:-1;width:1px;height:1px;border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%)}

#skipNav{position:relative;z-index:9999}
#skipNav a{position:absolute;top:-200px;left:0;width:100%;padding:1rem 0;color:#fff;text-align:center;background-color:#333}
#skipNav a:first-child{background-color:var(--sky-color)}
#skipNav a:active,#skipNav a:focus{top:0}

#mNavSubMenu{display:none}

.m_block{display:none}
.mobile_br{display:none}

.mt0 {margin-top: 0 !important}
.mb0 {margin-bottom: 0 !important}
.ml0 {margin-left: 0 !important}
.mr0 {margin-right: 0 !important}

.pdt0 {padding-top: 0 !important}
.pdb0 {padding-bottom: 0 !important}
.pdl0 {padding-left: 0 !important}
.pdr0 {padding-right: 0 !important}

.bdr0 {border-radius: 0 !important;}

.header_padding{display:block;padding-top:11rem}
.footer_padding{padding-bottom:3rem}

.grid_1 {display: grid !important; grid-template-columns: 1fr !important; gap: 4% 2%;}
.grid_1 [class^="project_photo_"] {flex-basis: 100%;}

.grid_2 {display: grid !important;grid-template-columns: 1fr 1fr !important;gap: 4% 2%;}
.grid_2 [class^="project_photo_"] {flex-basis: 100%;}


.basic_input{display:flex;align-items:center;width:100%;height:50px;padding:.75rem 1.5rem;border:1px solid var(--black-4-color);border-radius:3px;background:#fff;font-size:1rem;font-size:var(--font-6-size);color:var(--black-2-color)}
.basic_input:disabled{background:var(--black-5-color);color:var(--black-2-color);opacity:1}
.basic_input::placeholder{color:var(--black-3-color)}
.basic_input_select{width:140px;padding:.7rem 1.25rem;border:1px solid var(--black-4-color);border-radius:3px;font-size:var(--font-6-size)}

.border_dashed{border-top:1px dashed var(--black-5-color);padding-bottom:1rem}

.basic_btn{display:flex;justify-content:center;align-items:center;flex-basis:49%;height:50px;border-radius:2px;text-align:center;cursor:pointer}
.basic_btn a{display:flex;justify-content:center;align-items:center;width:100%;padding:.75rem 0;font-size:var(--font-5-size)}
.bd_btn{max-width:200px;border:2px solid var(--black-2-color)}
.bd_btn img{max-width:17px;margin:0 auto}
.bg_btn{display:flex;justify-content:center;width:100%;max-width:200px;background:var(--black-2-color);color:#fff}

.file_add_btn{border:2px solid var(--sky-color);border-radius:3px;color:var(--sky-color)}

.main_tit_name1{font-family:Montserrat;font-size:var(--font-3-size);color:var(--blue-color)}
.main_tit_img{width:15px;margin:0 .25rem}
.main_tit_name2{font-family:Montserrat;font-size:var(--font-3-size);color:var(--black-1-color)}
.main_tit1{display:flex;align-items:center}
.main_tit2{display:flex;align-items:flex-start;flex-direction:column}
.main_tit2 span{display:flex}
.main_tit2_name1{font-family:Montserrat;font-size: var(--font-1-size);color:var(--blue-color)}
.main_tit2_img{width:25px;margin:0 .25rem}
.main_tit2_name2{margin-top:-.75rem;font-family:Montserrat;font-size: var(--font-1-size);color:var(--black-1-color)}

.center_img img{width:100%;height:100%;object-fit:cover}
.center_img2 img{margin:0 auto;max-width:1080px;width:100%;border-radius:1rem}

.project_photo_2.video video{object-fit:fill;width:101%;height:101%}
.project_photo_2.overflow_y_scroll{overflow-y:scroll;border-radius:0;border-top-left-radius:1rem;border-bottom-left-radius:1rem}
.project_photo_2.overflow_y_scroll::-webkit-scrollbar{width:10px}
.project_photo_2.overflow_y_scroll::-webkit-scrollbar-thumb{height:30%;margin:1rem;background:var(--black-5-color)}
.project_photo_2.overflow_y_scroll::-webkit-scrollbar-track{background-color:var(--black-7-color)}

.project_photo_2.overflow_y_scroll img {top: 0 ; transform: translate(-50%,0);}

.sub_logo {display: inline-flex;gap: 0;align-items: center;justify-content: center;}
.sub_logo > em{display: inline-block;width: 25px; height: 25px; border-radius: 80%; background-color: #fff; margin-left: -5px;}
.sub_logo > em:nth-child(1) {margin-left: 0;}

.sub_logo.big {margin-right: -100px;}
.sub_logo.big > em {width: 400px; height: 400px;margin-left: -100px;}
/* / common class */

.inner{position:relative;width:95%;max-width: 1700px;margin:0 auto}
.menu-container,.menu-icon{display:none}

#header{position:fixed;z-index:999;width:100%;padding:.75rem 0}
#header .inner{display:flex;justify-content:space-between}

#header.nav_scroll{transition:.3s;background-color:rgba(255,255,255,.4);-webkit-backdrop-filter:blur(15px);backdrop-filter:blur(15px)}
#header.nav_scroll .h_logo_img_w{display:none}
#header.nav_scroll .h_logo_img_w_main{display:none}
#header.nav_scroll .h_logo_img_w_dark{display:none}
#header.nav_scroll .h_logo_img{display:block;max-width:45px}
#header.nav_scroll .gnb_wrap{display:flex}

.h_logo_a img{width:100%;max-width:140px;transition:.5s}
.h_logo_img_w_main{display:block}
.h_logo_img_w{display:block}
.h_logo_img_w_dark{display:none}
.h_logo_img{display:none}

.gnb_wrap{display:none;align-items:center}
.gnb_menu.on a{position:relative;font-family:Montserrat-semibold}
.gnb_menu.on a:after{content:'';display:inline-block;position:absolute;bottom:-.85rem;left:50%;transform:translate(-50%,0);width:12px;height:12px;background-image:url(../images/main_icon_b.svg);background-size:100%}
.gnb_menu_link{padding:0 1rem;font-family:Montserrat-Medium;font-size:var(--font-5-size);color:var(--black-1-color)}

.h_menu{display:flex;}

.h_menu_li{position:relative;padding-left:.5rem;cursor:pointer}
.h_menu_li.nightMode{display:none}
.h_menu_li_a{display:flex;justify-content:center;align-items:center;position:relative;width:40px;height:40px;border-radius:80%}
.h_menu_li_a.moon{background:var(--black-1-color)}
.h_menu_li_a.mail{background:var(--green-1-color)}
.h_menu_li_a.profile{background:var(--black-6-color)}
.h_menu_li:hover .h_menu_li_hover{display:inline-block}
.h_menu_li_hover{display:none;position:absolute;bottom:-2.75rem;left:50%;transform:translate(-45%,-50%);padding:.3rem .8rem;border-radius:1rem;font-size:var(--font-7-size);color:#fff;text-align:center;background-color:var(--black-1-color)}
.h_menu_li_hover:after{content:'';position:absolute;position:absolute;top:0;left:50%;transform:translate(-50%,-50%);width:0;height:0;margin:0 auto;border-right:10px solid transparent;border-bottom:10px solid var(--black-1-color);border-left:10px solid transparent}
.h_menu_li_img{width:100%;max-width:20px}

#footer{padding-bottom:2rem;text-align:center;width: 100%;display: flex;justify-content: space-between;align-items: center;}
.f_left {max-width: 35px;}
.logo_w {filter: invert(1) grayscale(1) brightness(100);}
.f_copy{padding:.5rem 1rem;border-radius:3rem;background: #ffffff30;font-family:Montserrat-Medium;font-size:var(--font-6-size);color: #fff;margin: 0 auto;}
.f_right {display: flex; align-items: center;}