@charset "utf-8";
@media all and (min-width:2000px) {
    .main_history .inner {
        width: 95%;
        max-width: none;
    }
    .mh_tit_wrap {
        flex-basis: 15%;
    }
    .mh_slide {
        flex-basis: 85%;
        width: 85%;
    }
    .mh_slide_item {
        width: 400px !important;
    }
}
@media all and (max-width:2000px) {
    .main_history .inner {
        max-width: none;
    }
}

@media all and (max-width:1400px) {
    .main_history .inner {
        /* max-width: 1385px; */
        margin-left: auto !important;
        /* flex-direction: column; */
    }
    .mh_tit_wrap {
        flex-basis: 30%;
        width: 30%;
        padding: 0 2rem;
    }
    .mh_slide {
        flex-basis: 70%;
        width: 70%;
    }
}
@media all and (max-width:1200px) {
    /* common 1200 */
    .main_tit2_name1 {
        font-size: var(--font-2-1-size);
    }
    .main_tit2_name2 {
        font-size: var(--font-2-1-size);
    }
    .main_tit2_img {
        width: 20px;
    }
    .pc_br {
        display: none;
    }
    /* <!-- common 1200 --> */
    /* header 1200 */
    #header.nav_scroll .h_logo_img {
        max-width: 35px;
    }
    .h_logo_a img {
        max-width: 120px;
    }
    .h_menu_li_a {
        width: 35px;
        height: 35px;
    }
    .h_menu_li_img {
        max-width: 15px;
    }
    #header.nav_scroll .gnb_wrap {
        display: none;
    }
    #header.nav_scroll .h_menu {
        display: none;
    }
    /* <!-- header 1200 --> */
    /* footer 1200 */
    .f_copy {
        font-size: var(--font-7-size);
    }
    /* <!-- footer 1200 --> */
    /* main_banner 1200 */
    .main_banner {
        height: 750px;
    }
    .mb_desc {
        width: 100%;
        font-size: var(--font-2-size);
    }
    .mb_desc strong {
        font-size: var(--font-2-size);
    }
    .mb_desc strong.learning:after {
        top: -1.25rem;
        font-size: var(--font-6-size);
    }
    .mb_desc strong.publisher:after {
        top: -1.25rem;
        font-size: var(--font-6-size);
    }
    .mb_desc strong.step img {
        width: 32px;
        margin-bottom: -0.2rem;
    }
    /* <!-- main_banner 1200 --> */
    /* about 1200 */
    .about_photo {
        max-width: 300px;
    }
    .about_name_wrap {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .main_tit_name1 {
        font-size: var(--font-4-size);
    }
    .main_tit_name2 {
        font-size: var(--font-4-size);
    }
    .about_name {
        font-size: var(--font-2-1-size);
    }
    .about_profile {
        padding: .15rem .75rem;
        font-size: var(--font-7-size);
    }
    .about_span_p {
        margin-bottom: .4rem;
        font-size: var(--font-5-size);
    }
    /* <!-- about 1200 --> */
    /* scroll 1200 */
    .main_scroll {
        height: 68px;
    }
    .main_scroll_txt {
        font-size: 50px;
    }
    .main_scroll_img{
        width: 34px;
        margin: 0 0.75rem;
        margin-top: 0.5rem;
    }
    /* <!-- scroll 1200 --> */
    /* skill 1200 */
    .ms_tit {
        font-size: var(--font-2-1-size);
    }
    .main_skill .inner p {
        font-size: var(--font-5-size);
    }
    .skill_wrap {
        width: 610px;
        height: 215px;
    }
    .skill_item {
        padding: .25rem 1rem;
        font-size: var(--font-2-1-size);
    }
    /* skill item 1200 */
    .skill_item.white {
        border: 2px solid var(--blue-color);
    }
    .skill_item.html {}
    .skill_item.css {
        bottom: 7rem;
        left: 4.5rem;
    }
    .skill_item.js {
        left: 7rem;
    }
    .skill_item.illustrator {
        bottom: 7rem;
        left: 10rem;
        transform: rotate(-7deg) !important;
    }
    .skill_item.photoshop {
        bottom: 3.75rem;
        left: 19rem;
    }
    .skill_item.xd {
        bottom: 0;
        left: 21.75rem;
        transform: rotate(30deg) !important;
    }
    .skill_item.figma {
        bottom: 6.5rem;
        left: 26.5rem;
    }
    .skill_item.zeplin {
        bottom: 1rem;
        left: 26.5rem;
    }
    .skill_item.git {
        left: 17rem;
    }
    .skill_item.shine_green {
        bottom: 6rem;
        left: 21rem;
    }
    .skill_item.shine_blue {
        bottom: -1rem;
        left: 5rem;
    }
    .skill_item.shine_blue img {
        width: 50px;
    }
    /* <!-- skill item 1200 -->  */
    /* <!-- skill 1200 --> */
    /* project 1200 */
    .main_project {
        background-size: auto;
    }
    .mp_menu_li {
        font-size: var(--font-6-size);
    }
    .mp_menu_li.click:after {
        width: 8px;
        height: 8px;
    }
    .mp_list_item {
        flex-basis: 32%;
    }
    .mp_list_photo {
        border-radius: .75rem;
    }
    .mp_menu_li a {
        font-size: var(--font-6-size);
    }
    .mp_list_num {
        font-size: var(--font-6-size);
    }
    /* <!-- project 1200 --> */
    /* history 1200 */
    .main_history {
        padding: 2rem 0;
    }
    .main_history .inner {
        flex-direction: column;
        width: 97.5%;
        margin-left: auto !important;
    }
    .mh_slide .slick-slide {
        margin: 0 5px;
    }
    .mh_tit_wrap {
        flex-basis: 100%;
        width: 100%;
        padding: 0 1rem;
    }
    .mh_txt {
        font-size: var(--font-5-size);
    }
    .mh_btn {
        margin: 1rem 0 2rem 0;
        font-size: var(--font-6-size);
    }
    .mh_slide {
        flex-basis: 100%;
        width: 100%;
    }
    .mh_slide .slick-list {
        padding: 0;
    }
    .mh_slide .slick-prev {
        display: none !important;
    }
    .mh_slide .slick-next {
        display: flex;
    }
    .mh_slide_item {
        width: 350px !important;
    }
    .mh_slide_desc {
        padding: 1.5rem 1.5rem;
    }
    .mh_slide_tit strong {
        font-size: var(--font-4-1-size);
    }
    .mh_slide_tit p {
        width: 195px;
        font-size: var(--font-4-1-size);
    }
    .mh_slide_txt {
        margin-bottom: .75rem;
        font-size: var(--font-5-size);
    }
    .mh_slide_date {
        font-size: var(--font-5-size);
    }
    /* <!-- history 1200 --> */
    /* contact 1200 */
    .main_contact {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 0;
    }
    .mc_tit {
        padding: 0 1rem;
        font-size: var(--font-2-1-size);
        line-height: 1.25;
    }
    .main_contact p {
        font-size: var(--font-5-size);
    }
    .mc_info_tit {
        font-size: var(--font-5-size);
    }
    .mc_info_txt a {
        font-size: var(--font-5-size);
    }
    /* <!-- contact 1200 --> */
    /* sub 1200 */
    .project_tit_cont {
        font-size: var(--font-2-size);
    }
    .project_tit_client {
        font-size: var(--font-7-size);
    }
    .project_name p {
        font-size: var(--font-5-size);
    }
    .project_txt {
        font-size: var(--font-5-size);
    }
    .project_txt strong {
        font-size: var(--font-5-size);
    }
    .project_cont_txt {
        font-size: var(--font-5-size);
    }
    .project_function {
        font-size: var(--font-5-size);
    }
    .next_project_name {
        font-size: var(--font-5-size);
    }
    .next_project_client {
        font-size: var(--font-7-size);
    }
    .porject_close {
        font-size: var(--font-6-size);
    }
    .porject_close img {
        margin-left: .3rem;
    }
    /* <!-- sub 1200 --> */
}
@media all and (max-width:910px) {
    .about_photo {
        max-width: 250px;
    }
    .about_span_p br {
        display: none;
    }
    .mp_list_desc {
        flex-direction: column;
    }
}
@media all and (max-width:820px) {
    .project_tit_list {
        flex-direction: column;
    }
    .project_tit {
        flex-basis: 35%;
    }
    .project_tit_cont {
        margin-bottom: .5rem;
    }
    .project_info {
        flex-basis: 65%;
        margin-top: 1.5rem;
    }
    .project_date {
        padding-left: 0;
    }
    .project_txt {
        padding-left: 0;
    }
}
@media all and (max-width:768px) {
    .main_about .inner {
        flex-direction: column;
        padding: 2rem 0;
        text-align: center;
    }
    .about_photo {
        max-width: 300px;
    }
    .about_desc {
        margin-top: 1rem;
        padding: 0 .5rem;
    }
    .main_tit1 {
        justify-content: center;
    }
    .mp_list_item {
        flex-basis: 49%;
    }
    .about_name_wrap {
        justify-content: center;
        flex-direction: column;
    }
    .about_profile {
        margin: .5rem 0;
    }
    .project_info_desc {
        flex-direction: column;
    }
    .project_name {
        margin-top: .25rem;
        margin-left: 0;
    }
    .project_photo_2 {
        border-radius: .5rem;
    }
}

@media all and (max-width:660px) {
    .skill_item {
        font-size: var(--font-4-1-size);
    }
    .skill_wrap {
        width: 440px;
        height: 185px;
    }
    /* skill item 660 */
    .skill_item.html {}
    .skill_item.css {
        bottom: 5.6rem;
        left: 2.5rem;
    }
    .skill_item.js {
        left: 5rem;
    }
    .skill_item.illustrator {
        bottom: 6rem;
        left: 7rem;
        transform: rotate(-7deg) !important;
    }
    .skill_item.photoshop {
        bottom: 3.75rem;
        left: 13rem;
    }
    .skill_item.xd {
        bottom: 1rem;
        left: 13.5rem;
        transform: rotate(30deg) !important;
    }
    .skill_item.figma {
        bottom: 5.5rem;
        left: 19rem;
    }
    .skill_item.zeplin {
        bottom: 1.6rem;
        left: 17.25rem;
    }
    .skill_item.git {
        bottom: -.5rem;
        left: 10rem;
    }
    .skill_item.shine_green {
        bottom: 5rem;
        left: 14rem;
    }
    .skill_item.shine_blue {
        bottom: -1rem;
        left: 5rem;
    }
    .skill_item.shine_blue img {
        width: 50px;
    }
    /* <!-- skill item 660 -->  */
}
@media all and (max-width:650px) {
    .mp_tit_wrap {
        align-items: flex-start;
        flex-direction: column;
    }
    .mp_menu {
        gap: 0 3%;
        flex-basis: 100%;
        width: 100%;
        margin-top: .5rem;
        margin-left: 0;
    } 
    .main_tit2 {
        flex-basis: 20%;
    }
    .mp_menu {
        flex-basis: 80%;
    }
}
@media all and (max-width:480px) {
    /* common 480 */
    :root {
        --font-0-size: 60px;
        --font-1-size: 45px;
        --font-1-1-size: 34px;
        --font-2-size: 28px;
        --font-2-1-size: 24px;
        --font-3-size: 20px;
        --font-4-size: 18px;
        --font-4-1-size: 16px;
        --font-5-size: 14px;
    }
    .mobile_br {
        display: block;
    }
    .border_dashed {
        padding-bottom: 0;
    }
    .back_btn {
        margin-top: 1rem;
        font-size: var(--font-7-size);
    }
    .site_more {
        margin-top: 1rem;
        font-size: var(--font-7-size);
    }
    .f_copy {
        font-size: var(--font-8-size);
    }
    /* <!-- common 480 --> */
    .mb_desc {
        font-size: 24px;
    }
    .mb_desc strong {
        font-size: 24px;
    }
    .mb_desc strong.step img {
        max-width: 20px;
    }
    .mb_desc strong.step img {
        margin-right: .05rem;
        margin-bottom: -.075rem;
    }
    .mb_desc strong.learning:after {
        top: -1rem;
        font-size: var(--font-7-size);
    }
    .mb_desc strong.publisher:after {
        top: -1rem;
        font-size: var(--font-7-size);
    }
    .main_scroll_txt {
        font-size: var(--font-1-size);
    }
    .ms_tit {
        line-height: 1.25;
    }
    .mp_menu {
        gap: 0 2%;
    }
    .mh_btn {
        padding: .25rem 1rem;
        font-size: var(--font-7-size);
    }
    .mh_slide_item {
        width: 300px !important;
    }
    .skill_wrap {
        width: 250px;
        height: 225px;
    }
    /* skill item 480 */
    .skill_item.white {
        border: 1px solid var(--blue-color);
    }
    .skill_item.html {}
    .skill_item.css {
        bottom: 5.6rem;
        left: 2.5rem;
    }
    .skill_item.js {
        left: 5rem;
    }
    .skill_item.illustrator {
        bottom: 6rem;
        left: 7rem;
        transform: rotate(-7deg) !important;
    }
    .skill_item.photoshop {
        bottom: 8rem;
        left: 2rem;
    }
    .skill_item.xd {
        bottom: -.75rem;
        left: 2.5rem;
        transform: rotate(30deg) !important;
    }
    .skill_item.figma {
        bottom: 9.5rem;
        left: 6rem;
        transform: rotate(25deg) !important;
    }
    .skill_item.zeplin {
        bottom: 11rem;
        left: 2.25rem;
    }
    .skill_item.git {
        /* left: rem; */
        bottom: -.5rem;
    }
    .skill_item.shine_green {
        bottom: 7.25rem;
        left: 9.25rem;
    }
    .skill_item.shine_green img {
        max-width: 50px;
    }
    .skill_item.shine_blue {
        bottom: -.5rem;
        left: 5rem;
    }
    .skill_item.shine_blue img {
        width: 50px;
    }
    /* <!-- skill item 480 -->  */
    .project_tit_wrap .inner {
        margin-bottom: 1.5rem;
    }
    .project_date strong {
        padding: .35rem 0;
        border: none;
        color: var(--black-1-color);
    }
    .project_name {
        margin-top: 0;
    }
    .project_name strong {
        padding: .35rem 0;
        border: none;
        color: var(--black-1-color);
    }
    .project_txt {
        margin-top: .5rem;
        padding-top: .5rem;
    }
    .project_photo_wrap {
        padding-top: 1.5rem;
    }
    .project_photo_pc {
        margin-right: .5rem;
    }
    .project_cont_txt {
        padding: 1.5rem .5rem;
    }
    .next_project_item a {
        flex-direction: column;
        align-items: flex-start;
    }
}